$base: #FDFDFF;
$alt: #F4F4EB;
$dark: #282C34;
$accent1: #FA3429;
$accent2: #F9A61F;
$accent3: #05AFD1;

$productive: #44EAF3;
$unproductive: #F4724E;
$unknown: #E3F1E0;

.base { background-color: $base; }
.alt { background-color: $alt; }
.dark { background-color: $dark; }
.hidden {display: none;}

#color-productive { color: $productive; }
#color-unproductive { color: $unproductive; }
#color-unknown { color: $unknown; }

body {
  @extend .base;
  color: $dark;
  font-family: "Georgia", "Times New Roman", Times, serif;
}

.button {
  @extend .heading;
  background-color: #E7E7EF;
  color: #777D82;
  font-size: 12px;
  padding: 4px 10px;
  margin: 10px;
  margin-right: 0;
  outline: none;
  border: none;
  border-radius: 2px;
  line-height: 20px;
  height: auto;
}

.heading {
  font-family: "San Francisco", "Myriad Pro", Myriad, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.wikipedia-article {
  a {text-decoration: none;}

  .wikipedia-article-content {
    color: $dark;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .wikipedia-article-title {
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .wikipedia-article-summary {
    color: fade-out($dark, 0.1);
  }

  &:last-child {
    .wikipedia-article-content {
      border: none;
    }
  }
}

.header {
  margin-top: 20px;
  opacity: 0.2;
  margin-left: -230px;
  position: fixed;
  top: 10px;
}

.primary {
  margin-top: 50px;
  height: 600px;
}

.analytics {
  h6 {color: $accent1;}
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  position: relative;
}

.graph{
  height: 420px;
}

.buttonContainer {
  width: 100%;
  background-color: #F5F5FB;
  border-top: 1px solid #E6E7F5;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.wikipedia {
  h6 {
    color: $accent2;
    margin-bottom: 0;
  }
  position: relative;
  height: 100%;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 20px;
}

.details {
  .productive h6 { color: $productive; }
  .unproductive h6 { color: $unproductive; }
  .unknown h6 { color: $dark; }

  margin-top: 50px;
}

ul {
  list-style: none;
}

.domain-listing {
  @extend .heading;
  text-transform: none;
  font-weight: normal;
  margin: 10px 0px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 5px 12px;
  position: relative;

  &:hover {
    background-color: white;
    .controls {
      opacity: 1;
    }
  }

  .controls {
    opacity: 0;
    position: absolute;
    transition: opacity 50ms ease-in-out;
    background-color: white;
    right: 5px;
    top: 8px;
    width: 100px;
    text-align: right;
  }

  .control-item-productive {
    background-color: $productive;
    color: $productive;
  }

  .control-item-unproductive {
    background-color: $unproductive;
    color: $unproductive;
  }

  .control-item-unknown{
    background-color: $unknown;
    color: $unknown;
  }

  .control-item {
    border-radius: 2px;
    border: 1px solid currentColor;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 100ms;

    &.unchecked {
      background: transparent;
    }

    &:hover {
      cursor: pointer;
      background: currentColor;
    }
  }
}



