.base, body {
  background-color: #FDFDFF; }

.alt {
  background-color: #F4F4EB; }

.dark {
  background-color: #282C34; }

.hidden {
  display: none; }

#color-productive {
  color: #44EAF3; }

#color-unproductive {
  color: #F4724E; }

#color-unknown {
  color: #E3F1E0; }

body {
  color: #282C34;
  font-family: "Georgia", "Times New Roman", Times, serif; }

.buttonDiv{
  margin: 10px;
}

.button {
  background-color: #05AFD1;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 5px; 
}

.header{
  float: center;
}

.heading, .button, .domain-listing {
  font-family: "San Francisco", "Myriad Pro", Myriad, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

.wikipedia-container {
  height: 333px; 
  width: 100%;
}

.wikipedia-article {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px; }
  .wikipedia-article img {
    width: auto;
    max-height: 150px; }
  .wikipedia-article .wikipedia-article-image-container {
    width: auto;
    max-height: 150px;
    overflow: hidden; }
  .wikipedia-article .wikipedia-article-content {
    position: absolute;
    width: calc(100% - 30px);
    height: 70px;
    color: #282C34;
     }
  .wikipedia-article .wikipedia-article-title {
    color: black;
    font-size: 14px;
    margin-bottom: 8px; }
  .wikipedia-article .wikipedia-article-summary {
    color: rgba(40, 44, 52, 0.9); }

.header {
  margin-top: 20px;
  opacity: 0.2;
  margin-left: -230px;
  position: fixed;
  top: 10px; }

.analytics {
  height: 445px; 
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  float: left; 
  padding-right: 20px;
  }
  .analytics h6 {
    color: #FA3429; }

.graph {
  height: 330px; 
}

.both{
  
}

.wikipedia {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  float: right;
  width: 600px;
}
  .wikipedia h6 {
    color: #F9A61F; }

.details {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

  margin-top: 20px; }
  .details .productive h6 {
    color: #44EAF3; }
  .details .unproductive h6 {
    color: #F4724E; }
  .details .unknown h6 {
    color: #282C34; }

ul {
  list-style: none; }

.domain-listing {
  text-transform: none;
  font-weight: normal;
  margin: 10px 0px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 5px 12px;
  position: relative; }
  .domain-listing:hover {
    background-color: white; }
    .domain-listing:hover .controls {
      opacity: 1; }
  .domain-listing .controls {
    opacity: 0;
    position: absolute;
    transition: opacity 50ms ease-in-out;
    background-color: white;
    right: 5px;
    top: 8px;
    width: 100px;
    text-align: right; }
  .domain-listing .control-item-productive {
    background-color: #44EAF3;
    color: #44EAF3; }
  .domain-listing .control-item-unproductive {
    background-color: #F4724E;
    color: #F4724E; }
  .domain-listing .control-item-unknown {
    background-color: #E3F1E0;
    color: #E3F1E0; }
  .domain-listing .control-item {
    border-radius: 2px;
    border: 1px solid currentColor;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 100ms; }
    .domain-listing .control-item.unchecked {
      background: transparent; }
    .domain-listing .control-item:hover {
      cursor: pointer;
      background: currentColor; }

  ul li {
    text-transform: none;
    font-weight: normal;
    margin: 5px 0px; }

/*# sourceMappingURL=main.css.map */
