body {
  background-color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 300px;
}

#domain-name {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  font-weight: normal;
}

.controls {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
}

.controls .control-item {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 18px;
  background-color: black;
  border-radius: 3px;
  margin-left: 10px;
  border: 2px solid transparent;
  border-color: transparent;
  transition: border-color 100ms,
              background-color 100ms;
}


.controls .control-item:hover {
  background-color: transparent;
}

.controls .control-item-productive {
  background-color: #8AE1FE;
}

.controls .control-item-unknown {
  background-color: rgba(0, 0, 0, 0.1);
}

.controls .control-item-unproductive {
  background-color: #FE684D;
}

.controls .control-item-productive:hover {
  border-color: #8AE1FE;
}

.controls .control-item-unknown:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

.controls .control-item-unproductive:hover {
  border-color: #FE684D;
}
